{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link href="/static/css/2.786ae0dd.chunk.css" rel="stylesheet">
    <link href="/static/css/main.06949941.chunk.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/calendar_1.css' %}">
{% endblock %}
{% block title %}Календарь{% endblock %}

{% block content %}
    <section class="calendar_section">
        <div class="container">
            <div id="root"></div>
            <div class="document">
                <img src="{% static 'img/pdf_icon.png' %}" alt="">
                <a href="{% static 'documents/Календарь СПб2024 сайт.pdf' %}" target="_blank">Календарь PDF</a>
            </div>
        </div>
    </section>
{% endblock %}
