{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/current_tournament_3.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup_image.css' %}">
{% endblock %}
{% block title %}{{ report.name }}{% endblock %}

{% block content %}
    <section class="tournament_section">
        <div class="container">
            <h2>{{ report.name }}</h2>
            <div class="description">{{ report.description|safe }}</div>
            {% if report.report_images.all %}
                <div class="photos">
                    {% for img in report.report_images.all %}
                        <div class="photo">
                            <img class="myImage" src="{{ img.image.url }}" width="{{ img.width }}"
                                 height="{{ img.height }}" alt="">
                            {% if img.name %}
                                <p>{{ img.name }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if report.report_documents.all %}
                {% for document in report.report_documents.all %}
                    <div class="document">
                        <img src="{% static 'img/pdf_icon.png' %}" alt="">
                        <a href="{{ document.document.url }}" target="_blank">{{ document.name }}</a>
                    </div>
                {% endfor %}
            {% endif %}
            {% if report.regulation %}
                <div class="document">
                    <img src="{% static 'img/pdf_icon.png' %}" alt="">
                    <a href="{{ report.regulation.document.url }}" target="_blank">{{ report.regulation.name }}</a>
                </div>
            {% endif %}
            {% if report.tournament_results %}
                <div class="document">
                    <img src="{% static 'img/pdf_icon.png' %}" alt="">
                    <a href="{{ report.tournament_results.results.url }}" target="_blank">{{ report.tournament_results.tournament_name }}</a>
                </div>
            {% endif %}
        </div>
    </section>
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/popup_image.js' %}"></script>
{% endblock %}