{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/leadership.css' %}">
{% endblock %}
{% block title %}Руководство{% endblock %}

{% block content %}
    <section class="leadership_section">
        <div class="container">
            <h1>Руководство</h1>
            <div class="person_block">
                <div class="person">
                    <h3>Водолин Федор Дмитриевич</h3>
                    <p>Президент</p>
                </div>
                <div class="info">
                    <div class="phone">+7 (921) 936-46-27</div>
                    <div class="email">fdv130@gmail.com</div>
                </div>
            </div>
            <div class="person_block">
                <div class="person">
                    <h3>ЦЕГЕЛЬНИК АЛЕКСЕЙ АНАТОЛЬЕВИЧ</h3>
                    <p>Вице-президент</p>
                </div>
                <div class="info">
                    <div class="phone">+7 (921) 949-85-25</div>
                    <div class="email"></div>
                </div>
            </div>
            <div class="person_block">
                <div class="person">
                    <h3>ПОЛЯНСКАЯ АЛЕНА ЮРЬЕВНА</h3>
                    <p>Спортивный Директор, Член Президиума, Главный Судья</p>
                </div>
                <div class="info">
                    <div class="phone">+7 (911) 211-43-41</div>
                    <div class="email">polyana99@yandex.ru</div>
                </div>
            </div>
            <div class="person_block">
                <div class="person">
                    <h3>СЕБУРЕВ КИРИЛЛ ДМИТРИЕВИЧ</h3>
                    <p>Член Президиума</p>
                </div>
                <div class="info">
                    <div class="phone">+7 (921) 961-78-01</div>
                    <div class="email">andrianov75@gmail.com</div>
                </div>
            </div>
            <div class="person_block">
                <div class="person">
                    <h3>ЛИПКИНА СВЕТЛАНА ВЛАДИМИРОВНА</h3>
                    <p>Член Президиума</p>
                </div>
                <div class="info">
                    <div class="phone"></div>
                    <div class="email">fbspb.reg@gmail.com</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}