{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}
{% block title %}Оплата{% endblock %}


{% block content %}
    <section class="payment_section">
        <div class="container">
            <h2>Оплата членских взносов и игровых лицензий</h2>
            <p>Самый простой способ это воспользоваться мобильным приложением вашего банка:</p>
            <p>1) Открыть мобильное приложение банка (Сбер, Райффайзен, ВТБ, т.д) на вашем телефоне</p>
            <p>2) Выбрать Платежи или Переводы</p>
            <p>3) Выбрать Оплата по QR коду (или Сканировать QR код). В некоторых клиентах значок "QR код" может быть на
                первой странице</p>
            <p>4) Навести камеру телефона на нужный код (смотри ниже)</p>
            <p>5) Добавить Фамилию, Имя и Отчество (ваше или того за кого осуществляется платеж) в поле Назначение
                платежа. например "Членский взнос за 2025 год от Иванова Ивана Ивановича"</p>
            <p>6) Подтвердить перевод\платеж

            </p>
            <div class="qr_codes">
                <div class="qr_item">
                    <img src="{% static 'documents/qr_750_2025.png' %}?version=1" alt="">
                    <p>Членский взнос (750 руб)</p>
                </div>
                <div class="qr_item">
                    <img src="{% static 'documents/qr_2250_2025.png' %}?version=1" alt="">
                    <p>Игровая лицензия (2250 руб)</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
