{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/protocols.css' %}">
{% endblock %}
{% block title %}Протоколы{% endblock %}

{% block content %}
    <section class="section_protocols">
        <div class="container">
            <h1>Протоколы</h1>
        
            {% for year, protocols in year_to_protocols.items %}
                <p>{{ year }}</p>
                
                {% for protocol in protocols %}
                    <a href="{{ protocol.document.url }}" target="_blank">{{ protocol.name }}</a>
                {% endfor %}
            {% endfor %}
        </div>
    </section>
{% endblock %}