{% extends 'layouts/basic.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/statistics_5.css' %}">
{% endblock %}
{% block title %}Статистика{% endblock %}

{% block content %}
    <section class="section_rating">
        <div class="container">
            <div class="rating_title">Статистика</div>
            <div class="rating_description">Рейтинг ведется на основе рейтинговых турниров проводимых федерацией
                согласно
                общим положениям. Результаты рейтинга используются для формирования сборной команды Санкт-Петербурга на
                следующий календарный год
            </div>
            <div class="rating_by_years">
                <div class="years">
                    <div class="years_list">
                        {% for year in years %}
                            <a class="year" href="{% url "statistic" %}?year={{ year }}">{{ year }}</a>
                            <div class="arrow-8"></div>
                        {% endfor %}
                    </div>
                    <div class="rating">
                        <h4>Мужчины</h4>
                        <div class="tournament_result">
                            <table>
                                <thead>
                                <tr style="background-color: #009688;">
                                    <th>Место</th>
                                    <th>Фамилия, Имя</th>
                                    <th>Звание, разряд</th>
                                    <th>Кол-во игр</th>
                                    <th>Худшая игра</th>
                                    <th>Лучшая игра</th>
                                    <th>Сумма кеглей</th>
                                    <th>Средний</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for player in man %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{% url 'profile' pk=player.player.id %}">{{ player.player.name }}</a>
                                        </td>
                                        <td>{{ player.player.rang }}</td>
                                        <td>{{ player.games }}</td>
                                        <td>{{ player.min }}</td>
                                        <td>{{ player.max }}</td>
                                        <td>{{ player.sum }}</td>
                                        <td>{{ player.avg }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <h4>Женщины</h4>
                        <div class="tournament_result">
                            <table>
                                <thead>
                                <tr style="background-color: #009688;">
                                    <th>Место</th>
                                    <th>Фамилия, Имя</th>
                                    <th>Звание, разряд</th>
                                    <th>Кол-во игр</th>
                                    <th>Худщая игра</th>
                                    <th>Лучшая игра</th>
                                    <th>Сумма кеглей</th>
                                    <th>Средний</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for player in women %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="{% url 'profile' pk=player.player.id %}">{{ player.player.name }}</a>
                                        </td>
                                        <td>{{ player.player.rang }}</td>
                                        <td>{{ player.games }}</td>
                                        <td>{{ player.min }}</td>
                                        <td>{{ player.max }}</td>
                                        <td>{{ player.sum }}</td>
                                        <td>{{ player.avg }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}